.app {
  height: 100vh;
  text-align: center;
  background-color: rgba(255, 153, 0, 0.199);
}

.app-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header-item {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.9%;
  height: 100%;
  color: white;
}

.app-header-item:hover {
  color: rgba(255, 153, 0, 0.815);
  text-decoration: underline;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
