.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 75%;
  text-align: left;
  border-collapse: collapse;
}

td {
  width: 25%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  height: 30px;
  padding: 15px;
}
